In [2]:
import pandas as pd
#import random
X=pd.read_csv(r'C:\Users\kinja\Documents\iris\Iris.csv')
#random.shuffle(X)   #After shufflling, data can be split in two part of desired size for testing and training. Proble:KeyError
X = X.sample(frac=1).reset_index(drop=True)
#X a is dataframe. .sample is a pandas function. frac=1->indicates the fraction of rows to be  returned. 
Y=X.pop('Species')

In [3]:
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0  53            6.9           3.1            4.9           1.5
1  44            5.0           3.5            1.6           0.6
2  28            5.2           3.5            1.5           0.2
3  52            6.4           3.2            4.5           1.5
4  14            4.3           3.0            1.1           0.1

In [4]:
Y.head()

0    Iris-versicolor
1        Iris-setosa
2        Iris-setosa
3    Iris-versicolor
4        Iris-setosa
Name: Species, dtype: object

In [5]:
X.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [6]:
#Now we know there is no missing data
X.drop('Id', axis=1, inplace=True)
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            6.9           3.1            4.9           1.5
1            5.0           3.5            1.6           0.6
2            5.2           3.5            1.5           0.2
3            6.4           3.2            4.5           1.5
4            4.3           3.0            1.1           0.1

In [8]:
from sklearn.svm import SVC
X_train=X[:120]
X_test=X[120:]
Y_train=Y[:120]
Y_test=Y[120:]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8)

In [9]:
svn = SVC()
svn.fit(X_train, Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [10]:
predictions = svn.predict(X_test)

In [11]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score


print(accuracy_score(Y_test, predictions))
print(confusion_matrix(Y_test, predictions))
print(classification_report(Y_test, predictions))

0.9333333333333333
[[10  0  0]
 [ 0  7  0]
 [ 0  2 11]]
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       0.78      1.00      0.88         7
 Iris-virginica       1.00      0.85      0.92        13

    avg / total       0.95      0.93      0.93        30

In [38]:
predictions

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica'], dtype=object)